<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS Layout Lesson</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>Layout Lesson</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ad voluptatem veritatis pariatur maiores omnis, eaque quis, sapiente amet molestiae architecto velit? Pariatur minus neque dignissimos illum voluptatibus corrupti officiis.</p>
        <br>
        <div>One</div>
        <div>Two</div>

        <br></br>

        <img src="http://placekitten.com/200" alt="placekitten">
        <img src="http://placekitten.com/201" alt="placekitten">
        <img src="http://placekitten.com/202" alt="placekitten">
        <img src="http://placekitten.com/203" alt="placekitten">
        <img src="http://placekitten.com/204" alt="placekitten">
        <img src="http://placekitten.com/205" alt="placekitten">


    </body>
</html>