h1 {
    color: red;
}

div {
    max-width: 800px;
    width: 300px;
    height: 100px;
    display: inline-block;
    border: 2px dashed blue;
     
}

img:nth-of-type(3) {
    border: 2px solid red;
    position: relative;
    top: 20px;
    left: 30px;
}

p {
    top: 0;
    position: sticky;
}