main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* recolor download link for contrast */
h2 a {
	color: white;
}

#home {
	background: var(--primary-background-color);
}

/* overwrite checkbox styling done for accordian windows */
#home::before {
	border: none;
	margin: 0;
	max-height: 50px;
	padding: 0;
}

#home.fas {
	padding: 0;
}

input[type=checkbox]:checked + #home.fas::before {
	transform: none;
	padding: 0;
}

/*Component 5 - accordion menus for additional about information */
/* wrapper for all accordion menus */
.wrapper {
	/* flex: 8; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* collapsible menu title container*/
.tab {
	position: relative;
	width: 60%;
	overflow: hidden;
}

input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
 
/* collapsible menu title formatting*/
label {
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	margin: 0.25rem 0 0 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 3;
	cursor: pointer;
	border-radius: 0.7rem;
	color: black;
	background: #7c98a5;
}
  
/* collapsible menu content container */
.tab-container {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
	border-radius: 0 0 0.7rem 0.7rem;
	margin: 0 1rem 0rem 1rem;
	background: #8EAEBD;
}

/* content formatting */
.tab-img-container img {
	object-fit: cover;
	max-width: 40%;
	float: left;
	margin: 1rem;
}

.tab-content {
	margin: 1rem;
	color: black;
	font-size: 1.2rem;
}

.tab-content ul  {
	padding: 1rem;
	list-style-position: inside;
}

  /* :checked */
input:checked ~ .tab-container {
	max-height: 100%;
}
  
  /* arrow icon css */
label::before{
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 2rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
}

 /* rotate arrow icon when menu clicked */
input[type=checkbox]:checked + label::before {
	transform: rotate(90deg) translateX(-3px);
}
  
/* media transition for mobile devices, resizing windowns and accordian menus*/
@media screen and (max-width: 480px) {
	h1 {
		display: inline; /*page title to display when navbar is in mobile mode */
	}
	.flex_spacing {
		flex: 0;
	}
	.tab {
		width: 95%;
	}
	.tab-img-container img { /*in mobile mode, let the about image take up full container width */
		max-width: 90%;
		width: 90%;
	}

}

/* media transition for medium devices */
@media screen and (max-width: 900px) and (min-width:481px) {
	.tab {
		width: 80%;
	}
}