/* Acordeon styles */

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* h2 {
	width: 100%;
	text-align: center;
} */

h2 a {
	color: white;
}

#home {
	background: var(--primary-background-color);
	padding: 0;
}

#home::before {
	border: none;
	margin: 0;
	max-height: 50px;
}

input[type=checkbox]:checked + #home.fas::before {
	transform: none;
}

.flex_spacing {
	flex: 1;
}

.wrapper {
	flex: 8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Accordian css */
.tab {
	position: relative;
	/* margin-bottom: 1px; */
	width: 60%;
	overflow: hidden;
}
  
input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
  
label {
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	margin: 0.25rem 0 0 0;
	font-weight: bold;
	line-height: 3;
	cursor: pointer;
	border-radius: 0.7rem;
	/* text-align: center; */
	color: black;
	font-size: 1.25rem;
}
  
.blue label {
	/* background: var(--secondary-background-color); */
	background: var(--secondary-background-color);
	background: #7c98a5;
}
  
.tab-container {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
	border-radius: 0 0 0.7rem 0.7rem;
	margin: 0 1rem 0rem 1rem;
}

.tab-img-container img {
	object-fit: cover;
	max-width: 40%;
	float: left;
	margin: 1rem;
}

.tab-content {
	margin: 1rem;
	color: black;
	font-size: 1.2rem;
}

.tab-content ul  {
	padding: 1rem;
	list-style-position: inside;
}

.blue .tab-container {
	background: #8EAEBD;
}

  /* :checked */
input:checked ~ .tab-container {
	max-height: 100%;
}
  
  /* Icon */
label::before{
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 2rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
}

input[type=checkbox]:checked + label::before {
	transform: rotate(90deg) translateX(-3px);
}
  
@media screen and (max-width: 480px) {
	h1 {
		display: inline;
	}
	.flex_spacing {
		flex: 0;
	}
	.tab {
		width: 95%;
	}
	.tab-img-container img {
		max-width: 90%;
		width: 90%;
	}

}

@media screen and (max-width: 900px) and (min-width:481px) {
	.tab {
		width: 80%;
	}
}