/* Acordeon styles */

main {
	display: flex;
	flex-direction: row;
}

h1 {
	width: 100%;
	padding: 2rem 2rem 2rem 4rem;
}

h2 {
	text-align: center;
}

.flex_spacing {
	flex: 1;
}

.wrapper {
	flex: 8;
}

/* Accordian css */
.tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	color: #fff;
	overflow: hidden;
  }
  
  input {
	position: absolute;
	opacity: 0;
	z-index: -1;
  }
  
  label {
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	background: #16a085;
	font-weight: bold;
	line-height: 3;
	cursor: pointer;
	/* text-align: center; */
  }
  
  .blue label {
	background: #2980b9;
  }
  
  .tab-content {
	max-height: 0;
	overflow: hidden;
	background: #1abc9c;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
  }
  
  .blue .tab-content {
	background: #3498db;
  }
  
  .tab-content p {
	margin: 1em;
  }

  /* :checked */
  input:checked ~ .tab-content {
	max-height: 10em;
  }
  
  /* Icon */
  label::before{
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 2rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
  }

  input[type=checkbox]:checked + label::before {
	transform: rotate(90deg) translateX(-3px);
  }
  
