main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* as whole container for blog link is an anchor tag, overwrite the formatting */
body article a {
	text-decoration: none;
	color: black;
}

.blog_container {
	width: 40vw;
	box-shadow: 0.3rem 0.3rem 0.1rem var(--primary-highlight-color);
	border-radius: 1rem;
	margin: 0.5rem;
	background: var(--secondary-background-color);
}

.blog_container a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.blog_container img {
	object-fit: cover;
	width: 100%;
	border-radius: 1rem 1rem 0 0;
}

.blog_container p {
	text-align: justify;
	margin: 0.5rem;
	font-weight: 700;
}

/* always have content bottom of container*/
.blog_container a div {
	margin-top: auto;
}



/* media transitions so that each blog container fits responsively */
@media screen and (max-width: 480px) {
	h1 {
		display: inline; /*page title to display when navbar is in mobile mode */
	}
}

@media screen and (max-width: 600px) {
	.blog_container {
		width: 80%;
	}
	.latest_blog {
		width: 80%;
	}
}

@media screen and (max-width: 1000px) and (min-width:601px) {
	.blog_container {
		width: 40%;
	}
	.latest_blog {
		width: 60vw;
	}
}

@media screen and (min-width:1001px) {
	.blog_container {
		width: 20%;
	}
	.latest_blog {
		width: 40vw;
	}
}

