.landing {
	display: flex;
	flex-direction: column;
	background: url(images/elec.jpg) darkgreen no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 10vh;
}

header {
	width: 100%;
	padding: 0rem 0rem 1rem 0rem;
	display: flex;
	justify-content: center;
	min-height: 10vh;
	background: var(--primary-color);

}

header img {
	border-radius: 50%;
	border: 2px solid black;
	width: min(15vw,200px);
	min-width: 120px;
	justify-content: end;
}

header h1 {
	display: inline;
	margin-top: 1rem;
	font-size: min(10vw,120px);
	color: var(--secondary-background-color);
}


.profile_container {
	padding: 3rem 1rem 1rem 1rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.profile_container p {
	padding: 1rem 0rem 1rem 0rem;
	color: var(--secondary-color);
	font-style: italic;
	text-align: end;

}

.header_content {
	max-width: 740px;
	padding: 1rem ;
}

.fadeIn {
	font-size: min(7vw,80px);
	color:var(--primary-highlight-color);
	opacity: 0;
	animation: fadeIn ease 8s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

.fadeOut {
	font-size: min(7vw,80px);
	color:red;
	margin-top: max(-7vw,-80px);
	animation: fadeOut ease 5s;
	animation-fill-mode: forwards;
}

.arrow_container {
	width: 100vw;
	background: var(--primary-color);
	text-align: center;
	padding: 0.5rem;
	transition: ;
}

.down_arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
  }

@keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
  }
  

#background {
	height: 60vh;
}

#social-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--primary-color);
	padding-top: 1rem;
}

#social-links div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#social-links p {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1rem 0;
	color: white;
}

#social-links div img {
	/* padding: 0 0.75rem 1rem 0.75rem; */
	height: 40px;
	margin: 0 0.5rem;
	filter: invert(1);
	transition: transform 0.5s;
}

#social-links div img:hover {
	transform: scale(1.2);
}


/* Dropdown Menu */
.wrap-collabsible {
	margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
	display: none;
  }
  
  .lbl-toggle {
	display: block;
  
	font-weight: bold;
	font-family: monospace;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
  
	padding: 1rem;
  
	/* color: var(--secondary-highlight-color); */
	color: var(--secondary-background-color);
	background: var(--primary-background-color);
  
	cursor: pointer;
  
	transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
	color: var(--secondary-highlight-color);
  }
  
  .lbl-toggle::before {
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 100vh;
  }
  /* #8EAEBD */
  .collapsible-content .content-inner {

	background: rgba(142, 174, 189, 0.7);
	padding: 4rem 4rem;
	display: flex;
	justify-content: center;
  }

  .collapsible-content .content-inner p {
	max-width: 600px;
	font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
	header {
		padding: 0rem;
		flex-direction: column-reverse;
	}
	header h1 {
		font-size: 15vw;
	}
	header img {
		width: 40vw;
	}
	.profile_container {
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
		border: none;
	}
	.header_content {
		padding: 1rem 1rem 1rem 1rem;
	}
	.link_container {
		display: none;
	}
	.fadeIn {
		font-size: 10vw;
	}
	.fadeOut {
		font-size: 10vw;
		margin-top: -10vw;
	}
	.collapsible-content .content-inner p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) and (min-width:481px) {

	.profile_container p{
		font-size: 0.8rem;
	}
	.collapsible-content .content-inner p {
		font-size: 1.2rem;
	}

}