
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

p {
	padding: 0.5rem;
}

/* Component 6 - project cards */
.project_container {
	flex: 1;
	margin: 1rem;
	box-shadow: 0.3rem 0.3rem 0.1rem var(--primary-highlight-color);
	border-radius: 1rem;
	background: var(--secondary-background-color);
}

.project_container img {
	object-fit: cover;
	width: 100%;
	border-radius: 0.75rem;
}

/* container for repo and demo links */
.project_links {
	display: flex;
	justify-content: end;
	margin-top: auto;
}

.project_links a {
	margin: 1rem;
	font-weight: bold;
}

/* media transitions so that each project container fits responsively */
@media screen and (max-width: 480px) {
	h1 {
		 display: inline; /*page title to display when navbar is in mobile mode */
	}
}

@media screen and (max-width: 550px) {
	.project_container {
		min-width: 90%;
	}
}

@media screen and (max-width: 900px) and (min-width:481px) {
	.project_container {
		min-width: 45%
	}
}
