
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}


.project_container {
	flex: 1;
	min-width: 300px;
	margin: 1rem;
	box-shadow: 0.5rem 0.5rem 1rem grey;
	border-radius: 1rem;
}

.project_links {
	display: flex;
	justify-content: end;
}

.project_links p {
	margin: 0.5rem;
}

@media screen and (max-width: 480px) {
	h1 {
		display: inline;
	}
}