
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

/* h3 {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: var(--primary-background-color);
} */

p {
	padding: 0.5rem;
}

.project_container {
	flex: 1;
	margin: 1rem;
	box-shadow: 0.3rem 0.3rem 0.1rem var(--primary-highlight-color);
	border-radius: 1rem;
	background: var(--secondary-background-color);
}

.project_container img {
	object-fit: cover;
	width: 100%;
	border-radius: 0.75rem;
}


.project_links {
	display: flex;
	justify-content: end;
	margin-top: auto;
	/* margin: 1rem; */
}

.project_links a {
	margin: 1rem;
}

@media screen and (max-width: 480px) {
	h1 {
		display: inline;
	}
}

@media screen and (max-width: 550px) {
	.project_container {
		min-width: 90%;
	}
}

@media screen and (max-width: 900px) and (min-width:481px) {
	.project_container {
		min-width: 45%
	}
}
