
:root {
	--primary-color: #2A3740;
	--secondary-color: #D9b4C1;
	--background-color: #F2D8DF;
	--highlight-color: #Bf6363;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--primary-color);
}

.landing {
	display: flex;
	flex-direction: column;
	background: url(images/elec.jpg) darkgreen no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 10vh;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
	top: 0;
	z-index: 100;
	position: sticky;
	background: #2a3740;
}

#homeLogo {
	height: 3vw;
	min-height: 50px;
}

.link_container a {
	color: var(--highlight-color);
	font-size: 2rem;
	font-family: Lato, sans-serif;
	text-decoration: none;
	margin: 1rem 0.5rem;
	padding: 0.5rem 0.5rem;
}

.link_container a:hover {
	border-bottom: 2px solid black;
}

#selected_link {
	/* font-size: 2rem; */
	border: 2px solid black;
	border-radius: 1rem;
	/* color: white; */
}

#navbar_mobile {
	padding: 1rem;
	width: 100%;
	display: none;
	background: #2a3740;
}

#mobile_toggle {
	display: none;
}

#mobile_toggle + label:before {
	content: url(images/z-small.png); /* Bars */
}

#mobile_toggle:checked ~ .mobile_link_container a{
	display: block;
}

#mobile_toggle:checked + label:before {
	content: url(images/z-small.png);
}

.mobile_link_container a{
	display: none;
	font-size: 1.5rem;
	color: var(--highlight-color);
	font-family: Lato, sans-serif;
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
}

.mobile_link_container a:hover {
	border-bottom: 2px black solid;
}

header {
	width: 100%;
	padding: 0rem 0rem 2rem 0rem;
	display: flex;
	justify-content: center;
	min-height: 10vh;
	background: var(--primary-color);

}

header img {
	border-radius: 50%;
	width: min(15vw,200px);
	min-width: 120px;
	justify-content: end;
}

header h1 {
	margin-top: 1rem;
	font-size: min(10vw,120px);
	color: var(--secondary-color);
}

.profile_container {
	padding: 3rem 1rem 1rem 1rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.profile_container p {
	padding: 1rem 0rem 1rem 0rem;
	color: var(--secondary-color);
	font-style: italic;
	text-align: end;
	font-size: ;
}

.header_content {
	max-width: 740px;
	padding: 1rem ;
}

.fadeIn {
	font-size: min(7vw,80px);
	color:var(--highlight-color);
	opacity: 0;
	animation: fadeIn ease 8s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

.fadeOut {
	font-size: min(7vw,80px);
	color:red;
	margin-top: max(-7vw,-80px);
	animation: fadeOut ease 5s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
  }
  

#background {
	height: 40vh;
}

#social-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--primary-color);
}

#social-links div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#social-links p {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1rem 0;
	color: white;
}

#social-links div div {
	/* display: flex; */
	/* flex-wrap: ; */
	/* justify-content: space-between; */
}

#social-links div div img {
	padding: 0 0.75rem 1rem 0.75rem;
}


footer {
	background: var(--primary-color);
	text-align: center;
}

@media screen and (max-width: 480px) {
	header {
		padding: 0rem;
		flex-direction: column-reverse;
	}
	header h1 {
		font-size: 15vw;
	}
	#navbar {
		display: none;
	}
	#navbar_mobile {
		display: flex;
		justify-content: space-between;
	}
	.mobile_link_container {
		display: flex;
		flex-direction: column;
	}
	.profile_container {
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
		border: none;
	}
	.header_content {
		padding: 1rem 1rem 1rem 1rem;
	}
	.link_container {
		display: none;
	}
	.fadeIn {
		font-size: 10vw;
	}
	.fadeOut {
		font-size: 10vw;
		margin-top: -10vw;
	}
}

@media screen and (max-width: 768px) and (min-width:481px) {

	.profile_container p{
		font-size: 0.8rem;
	}
}

/* Dropdown Menu */
.wrap-collabsible {
	margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
	display: none;
  }
  
  .lbl-toggle {
	display: block;
  
	font-weight: bold;
	font-family: monospace;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
  
	padding: 1rem;
  
	color: #A77B0E;
	background: #FAE042;
  
	cursor: pointer;
  
	transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
	color: #7C5A0B;
  }
  
  .lbl-toggle::before {
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 100vh;
  }
  
  .collapsible-content .content-inner {
	background: rgba(250, 224, 66, .2);
	border-bottom: 1px solid rgba(250, 224, 66, .45);

	padding: 4rem 4rem;
	display: flex;
	justify-content: center;
  }

  .collapsible-content .content-inner p {
	max-width: 300px;
  }

