
:root {
	--primary-color: #2A3740;
	/* --secondary-color: #D9b4C1; */
	--secondary-color: #4F738C;
	/* --background-color: #F2D8DF; */
	--background-color: #8C6E41;
	/* --highlight-color: #Bf6363; */
	--highlight-color: #6B7E8C;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--primary-color);
}

h1 {
	width: 100vw;
	text-align: center;
	display: none;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
	top: 0;
	z-index: 100;
	position: sticky;
	background: #2a3740;
}

#homeLogo {
	height: 3vw;
	min-height: 50px;
}

.link_container a {
	color: var(--highlight-color);
	font-size: 2rem;
	font-family: Lato, sans-serif;
	text-decoration: none;
	margin: 1rem 0.5rem;
	padding: 0.5rem 0.5rem;
}

.link_container a:hover {
	border-bottom: 2px solid black;
}

#selected_link {
	/* font-size: 2rem; */
	border: 2px solid black;
	border-radius: 1rem;
	/* color: white; */
}

#navbar_mobile {
	padding: 1rem;
	width: 100%;
	display: none;
	background: #2a3740;
	top: 0;
	z-index: 100;
	position: sticky;
}

#mobile_toggle {
	display: none;
}

#mobile_toggle + label:before {
	content: url(images/z-small.png); /* Bars */
}

#mobile_toggle:checked ~ .mobile_link_container a{
	display: block;
}

#mobile_toggle:checked + label:before {
	content: url(images/z-small.png);
}

.mobile_link_container a{
	display: none;
	font-size: 1.5rem;
	color: var(--highlight-color);
	font-family: Lato, sans-serif;
	text-decoration: none;
	text-align: center;
	padding: 0.5rem;
}

.mobile_link_container a:hover {
	border-bottom: 2px black solid;
}

.navbar_spacer {
	width: 50px;
}

footer {
	background: var(--primary-color);
	text-align: center;
	height: 10vh;
	padding: 1rem;
}

@media screen and (max-width: 480px) {

	#navbar {
		display: none;
	}
	#navbar_mobile {
		display: flex;
		justify-content: space-between;
	}
	.mobile_link_container {
		display: flex;
		flex-direction: column;
	}
}