@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

nav {
    /* margin-left: auto; */
}

nav a {
    color: #6a6a6a;
    font-size: 1rem;
    font-family: Lato, sans-serif;
    text-decoration: none;
    margin: 0 0.5rem;
}

#brand {
    height: 3vw;
}

#hero {
    display: flex;
    flex-direction: column;
    background: teal;
    padding: 2rem;
    align-items: center;
    background: url(images/zebra-hero.jpg) black no-repeat center;
    background-size: cover;
}

#hero img {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
}

#hero h1 {
    margin: 0.5rem 0;
    font-family: 'Bree Serif', sans-serif;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: normal;
}

.button {
    font-family: Lato, sans-serif;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: inline-block;
}

main {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

main article {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
    font-family: 'Bree Serif', sans-serif;
    font-size: 1.5rem;

}

main article h3 {
    font-family: 'Bree Serif', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #8980c2
}

main article p {
    font-weight: 100;
    margin: 1rem 0 1.5rem;
}


main article img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #8980c2;
    margin: 1rem;
}

.btn-purple {
    border-color: #8980c2;
    color: #8980c2;
}

.btn-white {
    border-color: white;
    color: white;
}


#social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #8980c2;
}

#social-links div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#social-links p {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    color: white;
}

#social-links div div {
    display: flex;
    flex-wrap: ;
    justify-content: space-between;
}

#social-links div div img {
    padding: 0 0.75rem 1rem 0.75rem;
}

footer {
    text-align: center;
}

@media screen and (max-width: 800px) {
    main article {
        min-width: 100%;
    }
}